body{
  background-color: #29797f;
}

.Hello {
  color: white;
  background-color: red;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}





